HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Logs ###
*.log
logs/
**/logs/
**/*.log
AOP_IMPLEMENTATION_GUIDE.md
CONFIGURACION_AOP_COMPLETA.md
RESUMEN_AOP.md
registers/
KAFKA_CONSUMER_PERFORMANCE.md
KAFKA_INTEGRATION_GUIDE.md
KAFKA_TROUBLESHOOTING_GUIDE.md
